# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

# Logs
*.log

# Dependencias
node_modules/
bower_components/

# Archivos de build
dist/
build/
